Repository enterspeedhq/enterspeed-source-umbraco-cms: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Path conditions:
  azure-pipelines-u14+.yml: any file but: README.md, CHANGELOG.md, documentation, src/Enterspeed.Source.UmbracoCms.V7, src/Enterspeed.Source.UmbracoCms.V8, src/Enterspeed.Source.UmbracoCms.V9Plus, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml
  azure-pipelines-u7-u8.yml: any file but: README.md, CHANGELOG.md, documentation, Enterspeed.Source.UmbracoCms.sln, azure-pipelines-u9+.yml, azure-pipelines-u14+.yml, src/Enterspeed.Source.UmbracoCms.V9Plus, src/Enterspeed.Source.UmbracoCms.V14Plus
  azure-pipelines-u9+.yml: any file but: README.md, CHANGELOG.md, documentation, src/Enterspeed.Source.UmbracoCms.V7, src/Enterspeed.Source.UmbracoCms.V8, src/Enterspeed.Source.UmbracoCms.V14Plus, azure-pipelines-u7-u8.yml, azure-pipelines-u14+.yml

fix: add dedicated SaveVariant flow to correctly sync culture-variant content deployed via Umbraco Deploy
  src/Enterspeed.Source.UmbracoCms.Base/Factories/EnterspeedJobFactory.cs
  src/Enterspeed.Source.UmbracoCms.Base/Factories/IEnterspeedJobFactory.cs
  src/Enterspeed.Source.UmbracoCms.Base/NotificationHandlers/EnterspeedContentCacheRefresherNotificationHandler.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Bump versions and updating changelog.
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  azure-pipelines-u14+.yml
  azure-pipelines-u9+.yml
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Fix missing save toast in Umbraco 17 settings dashboard
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/settings/settings-dashboard.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/repository/enterspeed.repository.ts
Due: azure-pipelines-u14+.yml

Bump versions and updating changelog.
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  azure-pipelines-u14+.yml
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Report which API key failed when saving or testing the configuration
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/settings/settings-dashboard.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/shared/notification-list.element.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/readme.md
  src/Enterspeed.Source.UmbracoCms.V14Plus/Controllers/DashboardController.cs
  src/Enterspeed.Source.UmbracoCms.V9Plus/App_Plugins/Enterspeed.Dashboard/Dashboard.Sub.Controllers/enterspeed-configuration.controller.js
  src/Enterspeed.Source.UmbracoCms.V9Plus/Controllers/Api/DashboardApiController.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u9+.yml

Add Umbraco 18 implementation plan and test plan for sc-10222
  documentation/umbraco-18-support-plan.md
  documentation/umbraco-18-test-plan.md
Due: none

Record decision: Elements scope ships in the same PR as baseline compatibility
  documentation/umbraco-18-support-plan.md
Due: none

Phase 1: two-pass build plumbing via UmbracoMajor property
  src/Enterspeed.Source.UmbracoCms.Base/Enterspeed.Source.UmbracoCms.Base.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Phase 2: migrate shared code off APIs removed in Umbraco 18
  src/Enterspeed.Source.UmbracoCms.Base/Components/EnterspeedJobsComponent.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/AddContentStateToJobsTable.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/AddEntityTypeToJobsTable.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/AddFailedCountToJobsTable.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/EnterspeedJobsTableMigration.cs
  src/Enterspeed.Source.UmbracoCms.Base/Handlers/Dictionaries/EnterspeedDictionaryItemPublishJobHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/Handlers/EnterspeedPostJobsHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/Handlers/PreviewDictionaries/EnterspeedPreviewDictionaryItemPublishJobHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/Models/Api/CustomSeed.cs
  src/Enterspeed.Source.UmbracoCms.Base/Models/UmbracoContentEntity.cs
  src/Enterspeed.Source.UmbracoCms.Base/Models/UmbracoMasterContentEntity.cs
  src/Enterspeed.Source.UmbracoCms.Base/NotificationHandlers/EnterspeedDictionaryItemDeletingNotificationHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultMemberGroupPickerPropertyValueConverter.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/EnterspeedJobService.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/EnterspeedPropertyService.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Services/EnterspeedJobService.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Phase 2b: Umbraco 18 Elements feature support
  src/Enterspeed.Source.UmbracoCms.Base/Extensions/UmbracoBuilderExtensions.cs
  src/Enterspeed.Source.UmbracoCms.Base/NotificationHandlers/EnterspeedElementCacheRefresherNotificationHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultBlockListPropertyValueConverter.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultElementPickerPropertyValueConverter.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultSingleBlockPropertyValueConverter.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Phase 3: OpenAPI split for Umbraco 18 (Swashbuckle removed)
  src/Enterspeed.Source.UmbracoCms.V14Plus/Configuration/Umbraco18/EnterspeedOpenApiConfiguration.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/EnterspeedComposer.cs
Due: azure-pipelines-u14+.yml

Phase 4: backoffice client for Umbraco 18
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/package-lock.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/package.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/components/modals/node-picker/manifest.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/components/modals/node-picker/node-picker-modal.element.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/jobs/failed-jobs.element.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/jobs/seed-buttons.element.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/jobs/seed-mode-select.element.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/manifest.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/settings/settings-dashboard.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/enterspeed.context.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/index.ts
Due: azure-pipelines-u14+.yml

Phase 5: two-pass CI pipeline for the 5.x and 6.x package lines
  azure-pipelines-u14+.yml
Due: azure-pipelines-u14+.yml

Phase 6: changelog entry for 6.0.0 and README version matrix
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  README.md
  src/Enterspeed.Source.UmbracoCms.V14Plus/README-NUGET.md
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Add unit test project covering the Umbraco 18 feature work
  .gitignore
  Enterspeed.Source.UmbracoCms.V14Plus.sln
  azure-pipelines-u14+.yml
  src/Enterspeed.Source.UmbracoCms.Base/Enterspeed.Source.UmbracoCms.Base.csproj
  src/Enterspeed.Source.UmbracoCms.Base/NotificationHandlers/EnterspeedElementCacheRefresherNotificationHandler.cs
  tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests.csproj
  tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests/NotificationHandlers/EnterspeedElementCacheRefresherNotificationHandlerTests.cs
  tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests/Services/DataProperties/DefaultElementPickerPropertyValueConverterTests.cs
  tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests/Services/DataProperties/DefaultSingleBlockPropertyValueConverterTests.cs
  tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests/Services/EnterspeedJobServiceCustomSeedTests.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Fix 17-pass swagger document and align its ids with Umbraco 18; dual generate scripts
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  azure-pipelines-u14+.yml
  documentation/local-demo-sites.md
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/package.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/Configuration/ConfigureEnterspeedApiSwaggerGenOptions.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Configuration/EnterspeedOperationIdSelector.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Configuration/EnterspeedSchemaIdSelector.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/EnterspeedComposer.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Remove Umbraco 18 working documents from the repo; keep them local
  .gitignore
  documentation/local-demo-sites.md
  documentation/umbraco-18-support-plan.md
  documentation/umbraco-18-test-plan.md
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Deduplicate migration and component version gating
  src/Enterspeed.Source.UmbracoCms.Base/Components/EnterspeedJobsComponent.Umbraco17Plus.cs
  src/Enterspeed.Source.UmbracoCms.Base/Components/EnterspeedJobsComponent.Umbraco9To16.cs
  src/Enterspeed.Source.UmbracoCms.Base/Components/EnterspeedJobsComponent.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/AddContentStateToJobsTable.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/AddEntityTypeToJobsTable.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/AddFailedCountToJobsTable.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/EnterspeedJobsTableMigration.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/EnterspeedMigrationBase.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Introduce IUmbracoLocalizationProvider for dictionary and language lookups
  src/Enterspeed.Source.UmbracoCms.Base/Handlers/Dictionaries/EnterspeedDictionaryItemPublishJobHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/Handlers/EnterspeedPostJobsHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/Handlers/PreviewDictionaries/EnterspeedPreviewDictionaryItemPublishJobHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/NotificationHandlers/EnterspeedDictionaryItemDeletingNotificationHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/Providers/IUmbracoLocalizationProvider.cs
  src/Enterspeed.Source.UmbracoCms.Base/Providers/UmbracoLocalizationProvider.Umbraco17Plus.cs
  src/Enterspeed.Source.UmbracoCms.Base/Providers/UmbracoLocalizationProvider.Umbraco9To16.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/EnterspeedJobService.cs
  tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests/Providers/UmbracoLocalizationProviderTests.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Run recurring Enterspeed work as IRecurringBackgroundJobs on Umbraco 13+
  src/Enterspeed.Source.UmbracoCms.Base/BackgroundJobs/EnterspeedRecurringJobBase.cs
  src/Enterspeed.Source.UmbracoCms.Base/BackgroundJobs/HandleEnterspeedFailedJobsJob.cs
  src/Enterspeed.Source.UmbracoCms.Base/BackgroundJobs/HandleEnterspeedJobsJob.cs
  src/Enterspeed.Source.UmbracoCms.Base/BackgroundJobs/InvalidateEnterspeedJobsJob.cs
  src/Enterspeed.Source.UmbracoCms.Base/Extensions/UmbracoBuilderExtensions.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Group Umbraco 18-only files under Umbraco18 folders; refine element fan-out
  src/Enterspeed.Source.UmbracoCms.Base/Extensions/UmbracoBuilderExtensions.cs
  src/Enterspeed.Source.UmbracoCms.Base/NotificationHandlers/Umbraco18/EnterspeedElementCacheRefresherNotificationHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/Umbraco18/DefaultElementPickerPropertyValueConverter.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/Umbraco18/DefaultSingleBlockPropertyValueConverter.cs
  tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests/NotificationHandlers/EnterspeedElementCacheRefresherNotificationHandlerTests.cs
  tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests/Services/DataProperties/DefaultElementPickerPropertyValueConverterTests.cs
  tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests/Services/DataProperties/DefaultSingleBlockPropertyValueConverterTests.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Update changelog; regenerate schema JSONs from the Umbraco 18 build
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  src/Enterspeed.Source.UmbracoCms.V14Plus/appsettings-schema.Umbraco.Cms.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/umbraco-package-schema.json
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Skip unresolvable dictionary seed nodes on all Umbraco lines
  src/Enterspeed.Source.UmbracoCms.Base/Providers/IUmbracoLocalizationProvider.cs
  src/Enterspeed.Source.UmbracoCms.Base/Providers/UmbracoLocalizationProvider.Umbraco17Plus.cs
  src/Enterspeed.Source.UmbracoCms.Base/Providers/UmbracoLocalizationProvider.Umbraco9To16.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/EnterspeedJobService.cs
  tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests/Providers/UmbracoLocalizationProviderTests.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Enhance affected cultures handling to be case-insensitive in EnterspeedElementCacheRefresherNotificationHandler; add unit test for variant page culture matching
  src/Enterspeed.Source.UmbracoCms.Base/NotificationHandlers/Umbraco18/EnterspeedElementCacheRefresherNotificationHandler.cs
  tests/Enterspeed.Source.UmbracoCms.V14Plus.Tests/NotificationHandlers/EnterspeedElementCacheRefresherNotificationHandlerTests.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Document the shared Base changes on the 4.x line
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Correct the Umbraco version in the net10 fork comments
  .gitignore
  src/Enterspeed.Source.UmbracoCms.Base/Components/EnterspeedJobsComponent.Umbraco17Plus.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/EnterspeedMigrationBase.cs
  src/Enterspeed.Source.UmbracoCms.Base/Providers/IUmbracoLocalizationProvider.cs
  src/Enterspeed.Source.UmbracoCms.Base/Providers/UmbracoLocalizationProvider.Umbraco17Plus.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml
