Repository enterspeedhq/enterspeed-source-umbraco-cms: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

azure-pipelines-u14+.yml:
  name: $(BuildID) - $(buildName)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSource: spec
          versionSpec: 18.x
      - task: Npm@1
        inputs:
  ...

azure-pipelines-u7-u8.yml:
  name: $(BuildID) - $(buildName)
  stages:
  - stage: Build
    displayName: Build .NET framework projects
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: windows-latest
        demands:
        - msbuild
        - visualstudio
      steps:
      - task: NuGetToolInstaller@1
  ...

azure-pipelines-u9+.yml:
  name: $(BuildID) - $(buildName)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: DotNetCoreCLI@2
        displayName: Dotnet restore
        inputs:
          command: restore
  ...

fixed proj file for V9+
  src/Enterspeed.Source.UmbracoCms.V9Plus/Enterspeed.Source.UmbracoCms.V9Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V9Plus/appsettings-schema.enterspeed.json
  src/Enterspeed.Source.UmbracoCms.V9Plus/build/Enterspeed.Source.UmbracoCms.targets
Due: azure-pipelines-u9+.yml

Bumped version for prerelease of U9+ package
  azure-pipelines-u9+.yml
Due: azure-pipelines-u9+.yml

Fixed issue with duplicate items
  src/Enterspeed.Source.UmbracoCms.V9Plus/Enterspeed.Source.UmbracoCms.V9Plus.csproj
Due: azure-pipelines-u9+.yml

Fixed issue with missing assets
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V9Plus/Enterspeed.Source.UmbracoCms.V9Plus.csproj
Due: azure-pipelines-u14+.yml, azure-pipelines-u9+.yml

Fixed issue with schema not getting copied
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/JsonSchema/appsettings-schema.enterspeed.json
  src/Enterspeed.Source.UmbracoCms.V9Plus/Enterspeed.Source.UmbracoCms.V9Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V9Plus/JsonSchema/appsettings-schema.enterspeed.json
Due: azure-pipelines-u14+.yml, azure-pipelines-u9+.yml

Fix targets file
  src/Enterspeed.Source.UmbracoCms.V14Plus/build/Enterspeed.Source.UmbracoCms.targets
  src/Enterspeed.Source.UmbracoCms.V9Plus/build/Enterspeed.Source.UmbracoCms.targets
Due: azure-pipelines-u14+.yml, azure-pipelines-u9+.yml

Fix copy action
  src/Enterspeed.Source.UmbracoCms.V14Plus/build/Enterspeed.Source.UmbracoCms.targets
Due: azure-pipelines-u14+.yml

Updated appsettings-schema.enterspeed.json files with missing properties and added description and required fields
  src/Enterspeed.Source.UmbracoCms.V14Plus/JsonSchema/appsettings-schema.enterspeed.json
  src/Enterspeed.Source.UmbracoCms.V9Plus/JsonSchema/appsettings-schema.enterspeed.json
Due: azure-pipelines-u14+.yml, azure-pipelines-u9+.yml

Feature/6097/update documentation for remaining configuration settings (#162)
  azure-pipelines-u14+.yml
  azure-pipelines-u9+.yml
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/EnterspeedComposer.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/JsonSchema/appsettings-schema.enterspeed.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/build/Enterspeed.Source.UmbracoCms.targets
  src/Enterspeed.Source.UmbracoCms.V9Plus/Enterspeed.Source.UmbracoCms.V9Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V9Plus/JsonSchema/appsettings-schema.enterspeed.json
Due: azure-pipelines-u14+.yml, azure-pipelines-u9+.yml

Introduced BaseUrl instead of Endpoint to align configuration and made it optional
  src/Enterspeed.Source.UmbracoCms.Base/Services/EnterspeedConfigurationService.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/JsonSchema/appsettings-schema.enterspeed.json
  src/Enterspeed.Source.UmbracoCms.V9Plus/JsonSchema/appsettings-schema.enterspeed.json
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Updated changelog file
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Introduced BaseUrl instead of Endpoint to align configuration and made it optional (#163)
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  src/Enterspeed.Source.UmbracoCms.Base/Services/EnterspeedConfigurationService.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/JsonSchema/appsettings-schema.enterspeed.json
  src/Enterspeed.Source.UmbracoCms.V9Plus/JsonSchema/appsettings-schema.enterspeed.json
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Set release date in changelog file
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Fixed culture handling for parent name change
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  src/Enterspeed.Source.UmbracoCms.Base/NotificationHandlers/EnterspeedContentPublishingNotificationHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/NotificationHandlers/EnterspeedContentSavingNotificationHandler.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Fixed culture handling for parent name change (#164)
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  src/Enterspeed.Source.UmbracoCms.Base/NotificationHandlers/EnterspeedContentPublishingNotificationHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/NotificationHandlers/EnterspeedContentSavingNotificationHandler.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Bump version
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Bump version number
  azure-pipelines-u14+.yml
  azure-pipelines-u9+.yml
Due: azure-pipelines-u14+.yml, azure-pipelines-u9+.yml

Updated changelog
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Fix bug with context being null, when blocks are rendered in RTE as background job
  src/Enterspeed.Source.UmbracoCms.Base/Extensions/UmbracoBuilderExtensions.cs
  src/Enterspeed.Source.UmbracoCms.Base/Providers/EnterspeedHttpContextProvider.cs
  src/Enterspeed.Source.UmbracoCms.Base/Providers/IEnterspeedHttpContextProvider.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultRichTextEditorPropertyValueConverter.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Avoiding nesting
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultRichTextEditorPropertyValueConverter.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Fixed issue with max amount of parameters sent to database when deleting
  src/Enterspeed.Source.UmbracoCms.Base/Data/Repositories/EnterspeedJobRepository.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Update src/Enterspeed.Source.UmbracoCms.Base/Data/Repositories/EnterspeedJobRepository.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Repositories/EnterspeedJobRepository.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Implemented chunk
  src/Enterspeed.Source.UmbracoCms.Base/Data/Repositories/EnterspeedJobRepository.cs
  src/Enterspeed.Source.UmbracoCms.Base/Extensions/EnumerableExtensions.cs
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Update CHANGELOG-Enterspeed.Source.UmbracoCms.md
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Updated vm image for pipeline for nuget support
  azure-pipelines-u14+.yml
  azure-pipelines-u9+.yml
Due: azure-pipelines-u14+.yml, azure-pipelines-u9+.yml

Update azure-pipelines-u14+.yml for Azure Pipelines
  azure-pipelines-u14+.yml
Due: azure-pipelines-u14+.yml

Update azure-pipelines-u9+.yml for Azure Pipelines
  azure-pipelines-u9+.yml
Due: azure-pipelines-u9+.yml

Working on support for Umbraco 16 and 17.
  src/Enterspeed.Source.UmbracoCms.Base/Enterspeed.Source.UmbracoCms.Base.csproj
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultMultiUrlPickerPropertyValueConverter.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Configuration/ConfigureEnterspeedApiSwaggerGenOptions.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/appsettings-schema.Umbraco.Cms.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/umbraco-package-schema.json
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Add support for .NET 10 SDK in Azure Pipelines configuration
  azure-pipelines-u14+.yml
Due: azure-pipelines-u14+.yml

Update patch version to 3 in azure-pipelines-u14+.yml
  azure-pipelines-u14+.yml
Due: azure-pipelines-u14+.yml

Update entry type to backofficeEntryPoint in umbraco-package.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/public/umbraco-package.json
Due: azure-pipelines-u14+.yml

Refactor seed and clear job queue methods to use async/await for better error handling and readability
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/jobs/seed-buttons.element.ts
Due: azure-pipelines-u14+.yml

normalizing response for backwards compatability
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/repository/enterspeed.repository.ts
Due: azure-pipelines-u14+.yml

Updated comment on function
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/repository/enterspeed.repository.ts
Due: azure-pipelines-u14+.yml

Add support for .NET 9 and .NET 10 SDKs in Azure Pipelines
  azure-pipelines-u9+.yml
Due: azure-pipelines-u9+.yml

Update changelog to include Umbraco 17 support in version 5.3.3
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Update changelog for version 5.3.4 and update Enterspeed.Source.Sdk package reference to 2.0.7
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  azure-pipelines-u14+.yml
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
Due: azure-pipelines-u14+.yml, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Path conditions:
  azure-pipelines-u14+.yml: any file but: README.md, CHANGELOG.md, documentation, src/Enterspeed.Source.UmbracoCms.V7, src/Enterspeed.Source.UmbracoCms.V8, src/Enterspeed.Source.UmbracoCms.V9Plus, azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml
  azure-pipelines-u7-u8.yml: any file but: README.md, CHANGELOG.md, documentation, Enterspeed.Source.UmbracoCms.sln, azure-pipelines-u9+.yml, azure-pipelines-u14+.yml, src/Enterspeed.Source.UmbracoCms.V9Plus, src/Enterspeed.Source.UmbracoCms.V14Plus
  azure-pipelines-u9+.yml: any file but: README.md, CHANGELOG.md, documentation, src/Enterspeed.Source.UmbracoCms.V7, src/Enterspeed.Source.UmbracoCms.V8, src/Enterspeed.Source.UmbracoCms.V14Plus, azure-pipelines-u7-u8.yml, azure-pipelines-u14+.yml
