Repository enterspeedhq/enterspeed-source-umbraco-cms: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

azure-pipelines-u7-u8.yml:
  name: $(BuildID) - $(buildName)
  stages:
  - stage: Build
    displayName: Build .NET framework projects
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: windows-latest
        demands:
        - msbuild
        - visualstudio
      steps:
      - task: NuGetToolInstaller@1
  ...

azure-pipelines-u9+.yml:
  name: $(BuildID) - $(buildName)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: DotNetCoreCLI@2
        displayName: Dotnet restore
        inputs:
          command: restore
  ...

Updated changelog date
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Updated changelog
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Fixed typo
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Added support for Single block mode
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultBlockListPropertyValueConverter.cs
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Added support for Single block mode (#151)
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultBlockListPropertyValueConverter.cs
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Updated usings after merging dev into the retry branch
  src/Enterspeed.Source.UmbracoCms.Base/Components/EnterspeedJobsComponent.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/AddFailedCountToJobsTable.cs
  src/Enterspeed.Source.UmbracoCms.Base/Extensions/UmbracoBuilderExtensions.cs
  src/Enterspeed.Source.UmbracoCms.Base/HostedServices/HandleEnterspeedFailedJobsHostedService.cs
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Fixed a few namespaces
  src/Enterspeed.Source.UmbracoCms.Base/Components/EnterspeedJobsComponent.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/AddFailedCountToJobsTable.cs
  src/Enterspeed.Source.UmbracoCms.Base/Extensions/UmbracoBuilderExtensions.cs
  src/Enterspeed.Source.UmbracoCms.Base/HostedServices/HandleEnterspeedFailedJobsHostedService.cs
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Retry strategy for Umbraco 14
  src/Enterspeed.Source.UmbracoCms.Base/HostedServices/HandleEnterspeedFailedJobs.cs
  src/Enterspeed.Source.UmbracoCms.Base/HostedServices/HandleEnterspeedFailedJobsHostedService.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/package.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/jobs/failed-jobs.element.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/generated/models/EnterspeedJob.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/generated/models/EnterspeedUmbracoConfiguration.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/generated/models/EnterspeedUmbracoConfigurationResponse.ts
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Updated failed jobs view
  src/Enterspeed.Source.UmbracoCms.V9Plus/App_Plugins/Enterspeed.Dashboard/Dashboard.Sub.Views/failedjobs.view.html
Due: azure-pipelines-u9+.yml

Fixed failed jobs layout
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/jobs/failed-jobs.element.ts
Due: none

Added missing default values to FailedCountColumn migration
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/AddFailedCountToJobsTable.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/readme.md
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Feature/retry strategy (#148)
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  src/Enterspeed.Source.UmbracoCms.Base/Components/EnterspeedJobsComponent.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/MappingDefinitions/EnterspeedJobMappingDefinition.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Migration/AddFailedCountToJobsTable.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Models/EnterspeedJob.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Repositories/EnterspeedJobRepository.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Repositories/IEnterspeedJobRepository.cs
  src/Enterspeed.Source.UmbracoCms.Base/Data/Schemas/EnterspeedJobSchema.cs
  src/Enterspeed.Source.UmbracoCms.Base/Extensions/UmbracoBuilderExtensions.cs
  src/Enterspeed.Source.UmbracoCms.Base/Factories/EnterspeedJobFactory.cs
  src/Enterspeed.Source.UmbracoCms.Base/Handlers/EnterspeedPostJobsHandler.cs
  src/Enterspeed.Source.UmbracoCms.Base/HostedServices/HandleEnterspeedFailedJobsHostedService.cs
  src/Enterspeed.Source.UmbracoCms.Base/Models/Configuration/EnterspeedUmbracoConfiguration.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/EnterspeedConfigurationService.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/EnterspeedJobsHandlingService.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/IEnterspeedJobsHandlingService.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/package.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/dashboards/jobs/failed-jobs.element.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/generated/models/EnterspeedJob.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/generated/models/EnterspeedUmbracoConfiguration.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/assets/src/generated/models/EnterspeedUmbracoConfigurationResponse.ts
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/readme.md
  src/Enterspeed.Source.UmbracoCms.V9Plus/App_Plugins/Enterspeed.Dashboard/Dashboard.Sub.Views/failedjobs.view.html
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Bump version
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  azure-pipelines-u14+.yml
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Fix issue with rte property converter
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultRichTextEditorPropertyValueConverter.cs
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Fixing issue with unpublish not working
  src/Enterspeed.Source.UmbracoCms.Base/Extensions/UmbracoBuilderExtensions.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/.vscode/launch.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/EnterspeedComposer.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/NotificationHandlers/EnterspeedContentUnpublishingNotificationHandlerV14.cs
  src/Enterspeed.Source.UmbracoCms.V9Plus/EnterspeedComposer.cs
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Added Umbraco 15 support
  src/Enterspeed.Source.UmbracoCms.Base/Enterspeed.Source.UmbracoCms.Base.csproj
  src/Enterspeed.Source.UmbracoCms.Base/Extensions/UmbracoBuilderExtensions.cs
  src/Enterspeed.Source.UmbracoCms.Base/Providers/EnterspeedConfigurationEditorProvider.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultLegacyMediaPickerPropertyValueConverter.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/DataProperties/DefaultConverters/DefaultRichTextEditorPropertyValueConverter.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Controllers/DashboardController.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/appsettings-schema.Umbraco.Cms.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/umbraco-package-schema.json
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Ensuring that unpublish works for umbraco14+
  src/Enterspeed.Source.UmbracoCms.V14Plus/EnterspeedComposer.cs
Due: none

Update launch.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/Client/.vscode/launch.json
Due: none

Updated package reference
  src/Enterspeed.Source.UmbracoCms.Base/Enterspeed.Source.UmbracoCms.Base.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Updated dotnet reference
  azure-pipelines-u14+.yml
  azure-pipelines-u9+.yml
Due: azure-pipelines-u9+.yml

Updated package reference
  src/Enterspeed.Source.UmbracoCms.V9Plus/Enterspeed.Source.UmbracoCms.V9Plus.csproj
Due: azure-pipelines-u9+.yml

Fix issue with configuration service
  src/Enterspeed.Source.UmbracoCms.V9Plus/Controllers/Api/DashboardApiController.cs
Due: azure-pipelines-u9+.yml

Added the option to remove trailing slash
  src/Enterspeed.Source.UmbracoCms.Base/Factories/UrlFactory.cs
  src/Enterspeed.Source.UmbracoCms.Base/Models/Configuration/EnterspeedUmbracoConfiguration.cs
  src/Enterspeed.Source.UmbracoCms.Base/Services/EnterspeedConfigurationService.cs
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Removed unused using statements
  src/Enterspeed.Source.UmbracoCms.Base/Factories/UrlFactory.cs
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Updated readme files with version info
  README.md
  src/Enterspeed.Source.UmbracoCms.V14Plus/README-NUGET.md
  src/Enterspeed.Source.UmbracoCms.V9Plus/README-NUGET.md
Due: azure-pipelines-u9+.yml

Updated changelog
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
  azure-pipelines-u14+.yml
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Fixed mistake in changelog
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Updated pipeline version to 4.3.0
  azure-pipelines-u9+.yml
Due: azure-pipelines-u9+.yml

Update CHANGELOG-Enterspeed.Source.UmbracoCms.md
  CHANGELOG-Enterspeed.Source.UmbracoCms.md
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

added package schema
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/EnterspeedComposer.cs
  src/Enterspeed.Source.UmbracoCms.V14Plus/build/Enterspeed.Source.UmbracoCms.targets
  src/Enterspeed.Source.UmbracoCms.V14Plus/enterspeed-package-schema.json
Due: none

Prerelease of appsettings
  azure-pipelines-u14+.yml
Due: none

Fixed a naming mistake
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/appsettings-schema.enterspeed.json
  src/Enterspeed.Source.UmbracoCms.V14Plus/build/Enterspeed.Source.UmbracoCms.targets
Due: none

Try to fix error
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
Due: none

fix: fixed custom Enterspeed endpoint definition for published configuration
  src/Enterspeed.Source.UmbracoCms.Base/Connections/PublishedEnterspeedConnection.cs
  src/Enterspeed.Source.UmbracoCms.Base/Providers/EnterspeedConnectionProvider.cs
  src/Enterspeed.Source.UmbracoCms.V8/Connections/PublishedEnterspeedConnection.cs
  src/Enterspeed.Source.UmbracoCms.V8/Enterspeed.Source.UmbracoCms.V8.csproj
Due: azure-pipelines-u7-u8.yml, azure-pipelines-u9+.yml

Ensuring that schema file gets included when project is packaged.
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/build/Enterspeed.Source.UmbracoCms.targets
Due: none

Updated proj and targets file
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/build/Enterspeed.Source.UmbracoCms.V14Plus.targets
Due: none

updates targets file name
  src/Enterspeed.Source.UmbracoCms.V14Plus/Enterspeed.Source.UmbracoCms.V14Plus.csproj
  src/Enterspeed.Source.UmbracoCms.V14Plus/build/Enterspeed.Source.UmbracoCms.targets
Due: none

Path conditions:
  azure-pipelines-u7-u8.yml: any file but: README.md, CHANGELOG.md, documentation, Enterspeed.Source.UmbracoCms.sln, azure-pipelines-u9+.yml, azure-pipelines-u14+.yml, src/Enterspeed.Source.UmbracoCms.V9Plus, src/Enterspeed.Source.UmbracoCms.V14Plus
  azure-pipelines-u9+.yml: any file but: README.md, CHANGELOG.md, documentation, src/Enterspeed.Source.UmbracoCms.V7, src/Enterspeed.Source.UmbracoCms.V8, src/Enterspeed.Source.UmbracoCms.V14Plus, azure-pipelines-u7-u8.yml, azure-pipelines-u14+.yml
